body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:2040px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u237_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:750px;
}
#u237 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:100px;
  width:270px;
  height:750px;
  display:flex;
}
#u237 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u237_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u238_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:585px;
}
#u238 {
  border-width:0px;
  position:absolute;
  left:1050px;
  top:745px;
  width:270px;
  height:585px;
  display:flex;
}
#u238 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u238_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u239_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:585px;
}
#u239 {
  border-width:0px;
  position:absolute;
  left:1050px;
  top:100px;
  width:270px;
  height:585px;
  display:flex;
}
#u239 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u239_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u240_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:585px;
}
#u240 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:100px;
  width:270px;
  height:585px;
  display:flex;
}
#u240 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u240_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u241_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:585px;
}
#u241 {
  border-width:0px;
  position:absolute;
  left:390px;
  top:100px;
  width:270px;
  height:585px;
  display:flex;
}
#u241 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u241_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u242_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2040px;
  height:100px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
#u242 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2040px;
  height:100px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
#u242 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 60px;
  box-sizing:border-box;
  width:100%;
}
#u242_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u243 {
  border-width:0px;
  position:absolute;
  left:195px;
  top:439px;
  width:0px;
  height:0px;
}
#u243_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:13px;
}
#u243_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:3px;
  width:176px;
  height:10px;
}
#u243_seg2 {
  border-width:0px;
  position:absolute;
  left:161px;
  top:-297px;
  width:10px;
  height:310px;
}
#u243_seg3 {
  border-width:0px;
  position:absolute;
  left:161px;
  top:-297px;
  width:32px;
  height:10px;
}
#u243_seg4 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:-301px;
  width:19px;
  height:18px;
}
#u243_text {
  border-width:0px;
  position:absolute;
  left:116px;
  top:-76px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u244 {
  border-width:0px;
  position:absolute;
  left:652px;
  top:147px;
  width:0px;
  height:0px;
}
#u244_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:43px;
  height:10px;
}
#u244_seg1 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:-71px;
  width:10px;
  height:76px;
}
#u244_seg2 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:-71px;
  width:505px;
  height:10px;
}
#u244_seg3 {
  border-width:0px;
  position:absolute;
  left:528px;
  top:-71px;
  width:10px;
  height:24px;
}
#u244_seg4 {
  border-width:0px;
  position:absolute;
  left:524px;
  top:-60px;
  width:18px;
  height:19px;
}
#u244_text {
  border-width:0px;
  position:absolute;
  left:193px;
  top:-84px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u245 {
  border-width:0px;
  position:absolute;
  left:601px;
  top:646px;
  width:0px;
  height:0px;
}
#u245_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:92px;
  height:10px;
}
#u245_seg1 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:-260px;
  width:10px;
  height:265px;
}
#u245_seg2 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:-260px;
  width:37px;
  height:10px;
}
#u245_seg3 {
  border-width:0px;
  position:absolute;
  left:106px;
  top:-264px;
  width:19px;
  height:18px;
}
#u245_text {
  border-width:0px;
  position:absolute;
  left:37px;
  top:-108px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u246_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:585px;
}
#u246 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:745px;
  width:270px;
  height:585px;
  display:flex;
}
#u246 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u246_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u247 {
  border-width:0px;
  position:absolute;
  left:990px;
  top:1038px;
  width:0px;
  height:0px;
}
#u247_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:60px;
  height:10px;
}
#u247_seg1 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:-4px;
  width:10px;
  height:9px;
}
#u247_seg2 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:-10px;
  width:18px;
  height:19px;
}
#u247_text {
  border-width:0px;
  position:absolute;
  left:-20px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u248 {
  border-width:0px;
  position:absolute;
  left:935px;
  top:474px;
  width:0px;
  height:0px;
}
#u248_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:245px;
}
#u248_seg1 {
  border-width:0px;
  position:absolute;
  left:-85px;
  top:235px;
  width:90px;
  height:10px;
}
#u248_seg2 {
  border-width:0px;
  position:absolute;
  left:-85px;
  top:235px;
  width:10px;
  height:36px;
}
#u248_seg3 {
  border-width:0px;
  position:absolute;
  left:-89px;
  top:258px;
  width:18px;
  height:19px;
}
#u248_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:168px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
