body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:3780px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u259_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:585px;
}
#u259 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:889px;
  width:270px;
  height:585px;
  display:flex;
}
#u259 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u259_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u260_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:729px;
}
#u260 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:100px;
  width:270px;
  height:729px;
  display:flex;
}
#u260 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u260_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u261_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:585px;
}
#u261 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:889px;
  width:270px;
  height:585px;
  display:flex;
}
#u261 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u261_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u262_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1760px;
  height:625px;
}
#u262 {
  border-width:0px;
  position:absolute;
  left:2020px;
  top:80px;
  width:1760px;
  height:625px;
  display:flex;
}
#u262 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u262_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u263_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:585px;
}
#u263 {
  border-width:0px;
  position:absolute;
  left:1380px;
  top:100px;
  width:270px;
  height:585px;
  display:flex;
}
#u263 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u263_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u264_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:585px;
}
#u264 {
  border-width:0px;
  position:absolute;
  left:1050px;
  top:100px;
  width:270px;
  height:585px;
  display:flex;
}
#u264 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u264_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u265_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:100px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
#u265 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:100px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
#u265 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 60px;
  box-sizing:border-box;
  width:100%;
}
#u265_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u266_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:585px;
}
#u266 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:100px;
  width:270px;
  height:585px;
  display:flex;
}
#u266 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u266_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u267_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:585px;
}
#u267 {
  border-width:0px;
  position:absolute;
  left:1710px;
  top:100px;
  width:270px;
  height:585px;
  display:flex;
}
#u267 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u267_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u268_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:585px;
}
#u268 {
  border-width:0px;
  position:absolute;
  left:390px;
  top:100px;
  width:270px;
  height:585px;
  display:flex;
}
#u268 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u268_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u269 {
  border-width:0px;
  position:absolute;
  left:193px;
  top:367px;
  width:0px;
  height:0px;
}
#u269_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:31px;
}
#u269_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:21px;
  width:202px;
  height:10px;
}
#u269_seg2 {
  border-width:0px;
  position:absolute;
  left:184px;
  top:17px;
  width:19px;
  height:18px;
}
#u269_text {
  border-width:0px;
  position:absolute;
  left:36px;
  top:18px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u270 {
  border-width:0px;
  position:absolute;
  left:520px;
  top:374px;
  width:0px;
  height:0px;
}
#u270_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:24px;
}
#u270_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:14px;
  width:205px;
  height:10px;
}
#u270_seg2 {
  border-width:0px;
  position:absolute;
  left:187px;
  top:10px;
  width:19px;
  height:18px;
}
#u270_text {
  border-width:0px;
  position:absolute;
  left:40px;
  top:11px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u271 {
  border-width:0px;
  position:absolute;
  left:990px;
  top:393px;
  width:0px;
  height:0px;
}
#u271_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:65px;
  height:10px;
}
#u271_seg1 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:-9px;
  width:19px;
  height:18px;
}
#u271_text {
  border-width:0px;
  position:absolute;
  left:-20px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u272 {
  border-width:0px;
  position:absolute;
  left:1322px;
  top:148px;
  width:0px;
  height:0px;
}
#u272_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:43px;
  height:10px;
}
#u272_seg1 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:-5px;
  width:10px;
  height:254px;
}
#u272_seg2 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:239px;
  width:22px;
  height:10px;
}
#u272_seg3 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:235px;
  width:19px;
  height:18px;
}
#u272_text {
  border-width:0px;
  position:absolute;
  left:-12px;
  top:104px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u273 {
  border-width:0px;
  position:absolute;
  left:1264px;
  top:186px;
  width:0px;
  height:0px;
}
#u273_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:80px;
  height:10px;
}
#u273_seg1 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:-5px;
  width:10px;
  height:301px;
}
#u273_seg2 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:286px;
  width:373px;
  height:10px;
}
#u273_seg3 {
  border-width:0px;
  position:absolute;
  left:430px;
  top:282px;
  width:19px;
  height:18px;
}
#u273_text {
  border-width:0px;
  position:absolute;
  left:26px;
  top:283px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u274 {
  border-width:0px;
  position:absolute;
  left:581px;
  top:473px;
  width:0px;
  height:0px;
}
#u274_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:113px;
  height:10px;
}
#u274_seg1 {
  border-width:0px;
  position:absolute;
  left:103px;
  top:-5px;
  width:10px;
  height:719px;
}
#u274_seg2 {
  border-width:0px;
  position:absolute;
  left:103px;
  top:704px;
  width:36px;
  height:10px;
}
#u274_seg3 {
  border-width:0px;
  position:absolute;
  left:126px;
  top:700px;
  width:19px;
  height:18px;
}
#u274_text {
  border-width:0px;
  position:absolute;
  left:58px;
  top:308px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u275 {
  border-width:0px;
  position:absolute;
  left:573px;
  top:524px;
  width:0px;
  height:0px;
}
#u275_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:1277px;
  height:10px;
}
#u275_seg1 {
  border-width:0px;
  position:absolute;
  left:1267px;
  top:-5px;
  width:10px;
  height:370px;
}
#u275_seg2 {
  border-width:0px;
  position:absolute;
  left:1263px;
  top:352px;
  width:18px;
  height:19px;
}
#u275_text {
  border-width:0px;
  position:absolute;
  left:768px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u276_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:585px;
}
#u276 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:1574px;
  width:270px;
  height:585px;
  display:flex;
}
#u276 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u276_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u277_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:585px;
}
#u277 {
  border-width:0px;
  position:absolute;
  left:390px;
  top:1574px;
  width:270px;
  height:585px;
  display:flex;
}
#u277 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u277_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u278_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:585px;
}
#u278 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:1574px;
  width:270px;
  height:585px;
  display:flex;
}
#u278 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u278_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u279_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:585px;
}
#u279 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:2259px;
  width:270px;
  height:585px;
  display:flex;
}
#u279 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u279_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u280_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:585px;
}
#u280 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:2259px;
  width:270px;
  height:585px;
  display:flex;
}
#u280 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u280_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u281_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:585px;
}
#u281 {
  border-width:0px;
  position:absolute;
  left:390px;
  top:2259px;
  width:270px;
  height:585px;
  display:flex;
}
#u281 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u281_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u282_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:585px;
}
#u282 {
  border-width:0px;
  position:absolute;
  left:1050px;
  top:2259px;
  width:270px;
  height:585px;
  display:flex;
}
#u282 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u282_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u283_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:585px;
}
#u283 {
  border-width:0px;
  position:absolute;
  left:1050px;
  top:889px;
  width:270px;
  height:585px;
  display:flex;
}
#u283 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u283_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u284_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:585px;
}
#u284 {
  border-width:0px;
  position:absolute;
  left:1380px;
  top:889px;
  width:270px;
  height:585px;
  display:flex;
}
#u284 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u284_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u285_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:585px;
}
#u285 {
  border-width:0px;
  position:absolute;
  left:1710px;
  top:889px;
  width:270px;
  height:585px;
  display:flex;
}
#u285 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u285_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u286_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:585px;
}
#u286 {
  border-width:0px;
  position:absolute;
  left:2040px;
  top:889px;
  width:270px;
  height:585px;
  display:flex;
}
#u286 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u286_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u287_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1257px;
  height:100px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
#u287 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1474px;
  width:1257px;
  height:100px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
#u287 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 60px;
  box-sizing:border-box;
  width:100%;
}
#u287_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u288_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1257px;
  height:100px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
#u288 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2159px;
  width:1257px;
  height:100px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
#u288 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 60px;
  box-sizing:border-box;
  width:100%;
}
#u288_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u289 {
  border-width:0px;
  position:absolute;
  left:991px;
  top:998px;
  width:0px;
  height:0px;
}
#u289_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:34px;
  height:10px;
}
#u289_seg1 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:-5px;
  width:10px;
  height:194px;
}
#u289_seg2 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:179px;
  width:35px;
  height:10px;
}
#u289_seg3 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:175px;
  width:19px;
  height:18px;
}
#u289_text {
  border-width:0px;
  position:absolute;
  left:-21px;
  top:84px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u290 {
  border-width:0px;
  position:absolute;
  left:853px;
  top:1226px;
  width:0px;
  height:0px;
}
#u290_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:45px;
}
#u290_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:35px;
  width:576px;
  height:10px;
}
#u290_seg2 {
  border-width:0px;
  position:absolute;
  left:558px;
  top:31px;
  width:19px;
  height:18px;
}
#u290_text {
  border-width:0px;
  position:absolute;
  left:216px;
  top:32px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u291 {
  border-width:0px;
  position:absolute;
  left:1980px;
  top:1182px;
  width:0px;
  height:0px;
}
#u291_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:65px;
  height:10px;
}
#u291_seg1 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:-9px;
  width:19px;
  height:18px;
}
#u291_text {
  border-width:0px;
  position:absolute;
  left:-20px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u292 {
  border-width:0px;
  position:absolute;
  left:319px;
  top:1719px;
  width:0px;
  height:0px;
}
#u292_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:55px;
  height:10px;
}
#u292_seg1 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:-5px;
  width:10px;
  height:158px;
}
#u292_seg2 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:143px;
  width:26px;
  height:10px;
}
#u292_seg3 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:139px;
  width:19px;
  height:18px;
}
#u292_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:52px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u293 {
  border-width:0px;
  position:absolute;
  left:319px;
  top:1765px;
  width:0px;
  height:0px;
}
#u293_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:37px;
  height:10px;
}
#u293_seg1 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:-5px;
  width:10px;
  height:156px;
}
#u293_seg2 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:141px;
  width:369px;
  height:10px;
}
#u293_seg3 {
  border-width:0px;
  position:absolute;
  left:383px;
  top:137px;
  width:19px;
  height:18px;
}
#u293_text {
  border-width:0px;
  position:absolute;
  left:75px;
  top:138px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u294 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:488px;
  width:0px;
  height:0px;
}
#u294_seg0 {
  border-width:0px;
  position:absolute;
  left:-64px;
  top:-5px;
  width:64px;
  height:10px;
}
#u294_seg1 {
  border-width:0px;
  position:absolute;
  left:-64px;
  top:-5px;
  width:10px;
  height:704px;
}
#u294_seg2 {
  border-width:0px;
  position:absolute;
  left:-64px;
  top:689px;
  width:32px;
  height:10px;
}
#u294_seg3 {
  border-width:0px;
  position:absolute;
  left:-45px;
  top:685px;
  width:19px;
  height:18px;
}
#u294_text {
  border-width:0px;
  position:absolute;
  left:-109px;
  top:323px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u295_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:585px;
}
#u295 {
  border-width:0px;
  position:absolute;
  left:2040px;
  top:100px;
  width:270px;
  height:585px;
  display:flex;
}
#u295 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u295_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u296_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:585px;
}
#u296 {
  border-width:0px;
  position:absolute;
  left:2330px;
  top:100px;
  width:270px;
  height:585px;
  display:flex;
}
#u296 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u296_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u297_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:585px;
}
#u297 {
  border-width:0px;
  position:absolute;
  left:2620px;
  top:100px;
  width:270px;
  height:585px;
  display:flex;
}
#u297 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u297_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u298_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:585px;
}
#u298 {
  border-width:0px;
  position:absolute;
  left:2910px;
  top:100px;
  width:270px;
  height:585px;
  display:flex;
}
#u298 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u298_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u299_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:585px;
}
#u299 {
  border-width:0px;
  position:absolute;
  left:3200px;
  top:100px;
  width:270px;
  height:585px;
  display:flex;
}
#u299 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u299_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u300_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:585px;
}
#u300 {
  border-width:0px;
  position:absolute;
  left:3490px;
  top:100px;
  width:270px;
  height:585px;
  display:flex;
}
#u300 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u300_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
